*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.site{
    display: flex;
    justify-content: center;
    background-color: rgb(46, 77, 77);
}

.perfil img{
    border-radius: 48%;
    border: 5px solid rgb(126, 119, 111);
    margin: 5%;
}

.container{
    display: flex;
    align-self: center;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.container img {
    border-radius: 9%;
    margin: 30px;
    max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
}

.artigo{
    margin: 10px;
    padding: 10px;
}

.texto{
    background-color:rgb(77, 166, 136);
    width: 700px;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    border-radius: 20px;
    border: 5px solid rgb(126, 119, 111);
    margin: 5%;
    font-family: 'Open Sans', sans-serif;
    min-width: 320px;
    max-width: 800px;
}

.nome{
    margin: 10px;
    padding: 10px;
}

p{
    margin: 15px;
}

.topicos{
    
    padding: 0 1em;
    display: flex;
    justify-content: center;
    text-align: center;
}

.redes{
    display: flex;
    justify-content: center;
    text-align: center;
}

.instagram img{
    border-radius: 8;
    width: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.instagram{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 3%;
}

.github img{
    width: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.github{
    display: flex;
    justify-content: center;
    text-align: center;
}

.links{
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.links_totais{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}
